<h1><%= @glossary.name %></h1>

<p><%= @glossary.description %></p>
<%= link_to "Редагувати", edit_glossary_path(@glossary) %><br>

<% if @glossary.archived? %>
  <p>(Archived)</p>
<% end %>


<% if @words.empty? %>
  <p><i>У цьому глосарії ще немає слів.</i></p>
<% else %>
  <% available_letters = @glossary.words.pluck(:word).map { |word| word.mb_chars[0].upcase }.uniq %>
  <% available_letters.each do |letter| %>
    <%= link_to letter, glossary_path(@glossary, letter: letter) %>
  <% end %>
  <%= link_to "Show All", glossary_path(@glossary) %>
  <ul>
    <% @words.each do |word| %>
      <li>
        <b><%= word.word %></b> - <%= word.definition %> | <%= link_to "Edit", edit_glossary_word_path(@glossary, word) %><br>
        <% unless word.categories.empty? %>
          <span>(Категорії: <%= word.categories.map(&:name).join(", ") %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Категорії", glossary_categories_path(@glossary), class: "button" %>
<%= link_to "Додати слово", new_glossary_word_path(@glossary), class: "button" %>

<%#= link_to "Видалити", @glossary, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Експорт у PDF", export_glossary_path(@glossary, format: :pdf) %>
<%= link_to "Експорт у TXT", export_txt_glossary_path(@glossary) %>
<br>

<%= link_to "Імпорт з TXT", "#", id: "import-txt-button" %>

<div id="import-txt-form" style="display: none;">
  <%= form_with url: import_txt_glossary_path(@glossary), method: :post, local: true, html: { target: "_blank" } do |form| %>
    <%= form.label :file, "Select a file to import:" %>
    <%= form.file_field :file %>
    <%= form.submit "Import" %>
    <%= button_tag "Скасувати", type: "button", id: "cancel-import-button" %>
  <% end %>
</div>

<script>
    document.getElementById("import-txt-button").addEventListener("click", function() {
        document.getElementById("import-txt-form").style.display = "block";
        document.getElementById("import-txt-button").style.display = "none";
    });

    document.getElementById("cancel-import-button").addEventListener("click", function() {
        document.getElementById("import-txt-form").style.display = "none";
        document.getElementById("import-txt-button").style.display = "block";
    });
</script>

<%= link_to "Повернутися", glossaries_path %>
